<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryMineiro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="imagem/png" href="/images/panela-pb.png" />
  </head>
  <body>
    <div class="container">
      <div class="titulo">
        <img src="/images/banner.jpg" alt="banner" width="auto" height="auto">
        <h1>Delivery Mineiro</h1>
      </div>
    </div>
  </body>
</html>
