<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryMineiro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="imagem/png" href="/images/panela-pb.png" />
  </head>
  <body>
    <div class="container">
      <div class="titulo">
        <div class="img">
          <img src="/images/logo.png" alt="banner">
        </div>
        <h1>Delivery Mineiro</h1>
      </div>
    </div>
  </body>
</html>
